
svg {
    height: 200px;
    width: 200px;
    position: relative;
}

.wrapper {
    height: 100%;
    width: 100%;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}