lookie {
    background-color: aliceblue;
}  

.logo {
    width: 60%;
}

.clippy {
    position: absolute;
    height: 620px;
    left: 50%;
    margin-left: -207px;
    margin-top: -30px;
    z-index: -1;
}